.banner {
  height: 400px;

  background:
    linear-gradient(
      rgba(0,0,0,.7),
      rgba(0,0,0,.7)
    ),
    url("https://drive.google.com/file/d/1dtAwl78qMltuk6mYC4j36-Hkx7Dfh6DA/view?usp=drive_link");

  background-size: cover;

  background-position: center;

  display: flex;

  align-items: center;

  justify-content: center;

  text-align: center;

  color: white;
}

.banner h1 {
  font-size: 48px;
}

.banner p {
  font-size: 20px;
}